body{
    overflow: auto;
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: aliceblue;
    font-size: 2.5rem;
}
h3{
    color: aliceblue;
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
p{
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
}

@media screen and (min-width: 992px) {
    p{

    }
}