body{
    background: linear-gradient(#111111, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
h1{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
#tagline{
    color: #00ff73;
    font-family: "consolas", 'Courier New', "sans-serif";
    font-size: 16px;
    
}
#dosapiens{
    font-size: xxx-large;
    text-shadow: 0px 0px 105px white;
}

.container{
    background-color: rgba(132, 102, 242, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 325px;
    border-radius: 10px;
}

h2{
    margin: 10px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    font-family: "sans-serif", consolas;
}

input[id='password']{
    padding: 10px;
    border-radius: 6px;
    border-style: hidden;
    outline: none;
    margin-top: 20px;
    
    
    font-size: 20px;
    font-family: "consolas", sans-serif;
    text-align: center;
    
}

#continueButton{
    margin-top: 15px;
    padding: 10px;
    background-color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    font-family: sans-serif;
    outline: none;
    text-align: center;
}