body{
    overflow: auto;
}

.container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 340%;
    justify-content: space-around;
    align-items: center;
}

.container2 .Aaditya{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, rgb(132, 102, 242), rgb(87, 49, 232));
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  
  height: 250px;
  border-radius: 10px;
  
}

.container2 .Aayush{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, rgb(132, 102, 242), rgb(87, 49, 232));
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  
  height: 250px;
  border-radius: 10px;
}

.container2 .Sarth{
    flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, rgb(132, 102, 242), rgb(87, 49, 232));
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  
  height: 250px;
  border-radius: 10px;
}

.container2 .Avdhoot{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, rgb(132, 102, 242), rgb(87, 49, 232));
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  
  height: 250px;
  border-radius: 10px;
}

.container2 .Agam{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, #d6982d, #916f34);
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  
  height: 250px;
  border-radius: 10px;
}

.container2 .Shantanu{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #d6982d, #916f34);
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    
    height: 250px;
    border-radius: 10px;
}

.container2 .Shiv{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #bf3d46, #a3030e);
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    
    height: 250px;
    border-radius: 10px;    
}

.container2 .Soham{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #d6982d, #916f34);
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    
    height: 250px;
    border-radius: 10px;    
}

.container2 .Aaditya .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
    
}

.container2 .Aayush .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
}

.container2 .Avdhoot .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
}

.container2 .Sarth .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
}

.container2 .Agam .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
}

.container2 .Shantanu .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
}

.container2 .Shiv .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;    
}

.container2 .Soham .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;   
}

/* Big Screens */

@media screen and (min-width: 992px) {

    .container2 .Aaditya{
        width: 60%;
    }

    .container2 .Aaditya .desc{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        font-family:  sans-serif;
        font-weight: 400;
        color: aliceblue;
        font-size: 1.6rem;
    }

    .container2 .Aayush{
        width: 60%;
    }

    .container2 .Aayush .desc{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        font-family:  sans-serif;
        font-weight: 400;
        color: aliceblue;
        font-size: 1.6rem;
    }

    .container2 .Avdhoot{
        width: 60%;
    }

    .container2 .Avdhoot .desc{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        font-family:  sans-serif;
        font-weight: 400;
        color: aliceblue;
        font-size: 1.6rem;
    }

    .container2 .Sarth{
        width: 60%;
    }

    .container2 .Sarth .desc{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        font-family:  sans-serif;
        font-weight: 400;
        color: aliceblue;
        font-size: 1.6rem;
    }

    .container2 .Agam{
        width: 60%;
    }

    .container2 .Agam .desc{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        font-family:  sans-serif;
        font-weight: 400;
        color: aliceblue;
        font-size: 1.6rem;
    }

    .container2 .Shantanu{
        width: 60%;
    }

    .container2 .Shantanu .desc{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        font-family:  sans-serif;
        font-weight: 400;
        color: aliceblue;
        font-size: 1.6rem;
    }

    .container2 .Shiv{
        width: 60%;
    }

    .container2 .Shiv .desc{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        font-family:  sans-serif;
        font-weight: 400;
        color: aliceblue;
        font-size: 1.6rem;
    }

    .container2 .Soham{
        width: 60%;
    }

    .container2 .Soham .desc{
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        font-family:  sans-serif;
        font-weight: 400;
        color: aliceblue;
        font-size: 1.6rem;
    }
}

h4{
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
}
