body{
    overflow: auto;
}

.container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.container2 .Aaditya{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, rgb(132, 102, 242), rgb(87, 49, 232));
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  height: 250px;
  border-radius: 10px;
  
}

.container2 .Aayush{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, rgb(132, 102, 242), rgb(87, 49, 232));
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  height: 250px;
  border-radius: 10px;
}

.container2 .Aaditya .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
    
}

.container2 .Aayush .desc{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
}

h4{
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
}
